.innerdiv{
    width: 50%;
    margin: auto;
    margin-bottom: 2%;
}

.h2{
  text-align: left;
}
.inputBox{
    width: 50%;
    padding: 2%;
    font-size: 15px;
    border-radius: 5px;
}


button{
    width: 50%;
    padding: 2%;
    border-radius: 15px;
}